body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  padding: 12px;
}

.comp1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: beige;
  color: black;
}

.nav {
  height: 84px;
  justify-content: center;
    align-items: center;
    display: flex;
}